body {
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    background-color: #393E46;
    color:#EEEEEE;
  }
  
  
.bg{
 /* background-image:url('img/img4.jpg'); */
 background-repeat: no-repeat;
 background-size: cover !important;
}
.activity-img{
  width: 100%;
  height: 100%;
}

.video-text{
    display: block;
    position: relative;
    transform: preserve-3d;
}
.video-text h1{
  position: relative;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
}
 .gal-img{
   width: 300px;
   height: 200px;
 }
.gal-card{
  width: 100%;
  height: 100%;

}
.cov{
    margin-top:200px;
}
.para{
    color:white;
    font-size:30px;
}
.btn{
    font-weight:bold;

}
.my-float {
    margin-top: 16px;
}

.separador {
    width: 100%;
  }
  
  .s-left{
      display:table-cell;
      width:25%;
  }
  .s-right {
    display: table-cell;
    width: 75%;
  }
  
  .line{
    border:3px solid #2c9184;
    margin-bottom:20px;
  }
  
  
 
  
  .logo{
      border:2px solid white;
      margin-top:100px;
      padding:10px;
      height:400px;
  }
  .btn-primary:hover{
      background-color:lightgreen;
      border:2px solid grey;
      color:grey;
      font-weight:100px;
  }
  .map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.form-c{
  border:2px solid #2c9184;
    box-shadow: 10px 10px 5px grey;
}

.card-pro{
  border:none;
}
.cap{
  margin-top:20px;
}
.gal{
  margin:auto;
}
.gal-text{
  margin:auto;
  color:#2c9184;
  text-align: center;

}
.g-table{
  display:inline-table;
}
.gallery{
  width:70%;
  border:1px solid #2c9184;
  padding:50px;
  margin-top:100px;
  margin-bottom:100px;
  border-radius: 20px 50px 20px 50px;
  box-shadow: 8px 8px 10px #2c9184;
}
.pla{
  color:#2c9184;
}
.place{
  border:none;
}
.placc{
  padding:70px;
}
.form-c{
  border:2px dashed #2c9184;
    box-shadow: 10px 10px 5px #2c9184;
    background-color:white;
    border-radius:20px;
}
.modal-content{
  color:#2c9184;
  padding:20px;
  background-color:transparent;
  border:none;
}
.modal-body{
  background-color:transparent;
}
.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 15px;
    background-color:#2c9184;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #000;
    z-index: 100;
}
.whats-app:hover{
  color:white;
  transform:scale(1.1);
  transform:rotate(45deg);
}
.my-float {
    margin-top: 16px;
}
    body {
    margin: 0;
  }
.text-dark{
    
    font-family: 'Noto Sans Display', sans-serif;
}
footer{
  font-family: 'Noto Sans Display', sans-serif;
}
.ylw{
    padding:200px;
    background-image:url("img/cov.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.ylw-no{
    background-color: #2c9184;
    color: #EEEEEE;
}
.wel{
    font-weight:bolder;
    font-family: 'Pacifico', cursive;
    color:white;
}
.ii{
    font-size:40px;
}
.pro{
    margin-top:30px;
}
.text-ylw{
    color:#EEEEEE;
}
.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.act{
  /* writing-mode: vertical-lr; */
  font-size:85px;
  color:#2c9184;
  text-align: right;
  font-weight: 500;
  font-style: italic;
}
.socialmedia{
    font-size: 60px;
    color: white;
    margin: 20px;
    display:inline-flex;
}
.socialmedia:hover{
  color:#2c9184;  
}
a{
  color:#2c9184;
  text-decoration:none;
}
a:hover{
  color:white;
}
.card{
  background-color:#2c9184;
  border-radius:.50rem;
}
.card-image{
  width:100%;
  height:100%;
  border-radius:.5rem;
}
.nav-bg{
  background-color:#2c9184;
}
.navbar-dark .navbar-nav .nav-link {
    color: #EEEEEE;
}

.btn-outline-org:hover {
  color: #fff;
  background-color: #2c9184;
  border-color: #2c9184;
}
.btn-outline-org {
  color: #2c9184;
  /* background-color: #2c9184; */
  border-color: #2c9184;
}
.bg-org{
  background-color: #2c9184;
}
.form-control{
  border: 1px solid #2c9184;
}

